html{
    background-color: antiquewhite;
}

button {
    padding: 10px;
    color: white;
    background-color: black;
}

button:hover {
    color: black;
    font-size: large;
    background-color: aqua;
}

.game-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

p {
    font-size: 18px;
    font-weight: 700;
}

.final-style {
    font-size: large;
    font-weight: 800;
    border-radius: 10px;
    border: 5px gold solid;
    margin: 20px 50px;
    padding: 8px;
    display: flex;
    justify-content: center;
}